*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  outline: 1px solid navy;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  font-family: inherit;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  padding-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__svg,
.social-list__link:focus .social-list__svg {
  fill: #ffffff;
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  padding: 0 40px;
  padding-top: 40px;
}

.modal__close-svg {
  width: 18px;
  height: 18px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover, .close-modal:focus {
  fill: #2196f3;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover, .modal-form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form__field {
  position: relative;
  margin-bottom: 28px;
}

.modal-form__input-label {
  position: absolute;
  top: -17px;
  left: 0;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message:hover, .modal-form__message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form__message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  font-family: Roboto;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__message:not(:placeholder-shown) {
  border-color: #2196f3;
}

.modal-form__message-label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__accept-link {
  color: #2196f3;
}

.modal-svg-check {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  border: 1px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  background-size: cover;
}

.modal-form__accept-label {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.modal-form__accept:checked + .modal-form__accept-label::before {
  border: none;
  background-image: url("../img/icon-check.svg");
}

.modal-form__accept-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  margin-right: 7px;
}

.modal__button {
  width: 200px;
  margin: 0 auto;
}

.modal-form__input:hover ~ .modal-form__svg {
  fill: #2196f3;
}

.modal-form__input:focus ~ .modal-form__svg {
  fill: #2196f3;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.logo-text {
  color: #000000;
}

.contacts__list-svg_envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.contacts__list-svg_phone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  text-align: center;
  min-height: 400px;
  background-color: #c4c4c4;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.features__svg {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__list-item {
  width: 100%;
}

.features__list-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__list-item {
    width: calc((100% - 1 * 30px) / 2);
  }
  .features__list-item:not(:nth-child(even)) {
    margin-right: 30px;
  }
  .features__list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list-item {
    width: calc((100% - 3 * 30px) / 4);
  }
  .features__list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__list-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__list-text {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .works {
    display: none;
  }
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__list-item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .team__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list-item {
    width: calc((100% - 1 * 30px) / 2);
  }
  .team__list-item:not(:nth-child(even)) {
    margin-right: 30px;
  }
  .team__list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list-item {
    width: calc((100% - 3 * 30px) / 4);
    padding-bottom: 30px;
  }
  .team__list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__list-img {
  margin-bottom: 30px;
}

.team__list-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.team__list-text {
  margin-bottom: 16px;
}

.team-container {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
}

.clients__list-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients__list-item:nth-child(2n + 1) {
  margin-right: 30px;
}

.clients__list-item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 30px;
}

.clients__list-item__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__svg {
  max-height: 52px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list-link:hover .clients__svg,
.clients__list-link:focus .clients__svg {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.footer__contact {
  margin-bottom: 60px;
}

.footer__contact-address {
  margin-bottom: 8px;
  color: #ffffff;
}

.footer__contact-email {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-bottom: 8px;
}

.footer__contact-phone {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.footer__contact-address, .footer__contact-email, .footer__contact-phone {
  font-style: normal;
}

.footer__social-list {
  margin-bottom: 60px;
}

.footer__social-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .social-list__svg {
  fill: #ffffff;
}

.footer__subscribe-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__subscribe-input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 16px;
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
}

.footer__subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-input:not(:placeholder-shown) {
  border-color: #2196f3;
}

.footer__subscribe-form {
  display: block;
  justify-content: center;
  align-items: center;
}

.footer__subscribe-btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.footer__subscribe-svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}

.footer-logo {
  color: #ffffff;
}

.portfolio-header {
  border-bottom: 1px solid #ececec;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-header {
    margin-bottom: 94px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.filter__list-item:not(:last-child) {
  margin-right: 8px;
}

.filter__list-item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 15px;
}

.filter__list-option {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border-style: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__list-option:hover, .filter__list-option:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.examples__list {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .examples__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.examples__list-item {
  border: 1px solid #eeeeee;
}

.examples__list-item:hover, .examples__list-item:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .examples__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .examples__list-item {
    width: calc((100% - 1 * 30px) / 2);
  }
  .examples__list-item:not(:nth-child(even)) {
    margin-right: 30px;
  }
  .examples__list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__list-item {
    width: calc((100% - 2 * 30px) / 3);
  }
  .examples__list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .examples__list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.examples-container {
  padding: 20px 24px;
}

.examples__list-name {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples__list-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.examples__overlay {
  position: relative;
  overflow: hidden;
}

.examples__list-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.556;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .examples__list-description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__list-description {
    padding: 63px 24px;
  }
}

.examples__list-item:hover .examples__list-description {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */