.footer {
	background-color: #2f303a;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;

	& .container {
		@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
		}

		@media screen and (min-width: 1200px) {
			justify-content: space-between;
			align-items: baseline;
		}
	}

	& .logo {
		display: inline-block;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	&__contact {
		width: 270px;

		@media screen and (max-width: 767px) {
			margin-left: auto;
			margin-right: auto;
		}

		@media screen and (max-width: 1199px) {
			margin-bottom: 60px;
			text-align: center;
		}

		@media screen and (min-width: 768px) and (max-width: 1199px) {
			flex-basis: calc((100% - 30px) / 2);
			margin-right: 30px;
		}
	}

	&__contact-address {
		margin-bottom: 8px;
		color: $primary-white-color;
	}

	&__contact-email {
		color: rgba(255, 255, 255, 0.6);
		display: inline-block;
		margin-bottom: 8px;
	}

	&__contact-phone {
		display: block;
		color: rgba(255, 255, 255, 0.6);
	}

	&__contact-address,
	&__contact-email,
	&__contact-phone {
		font-style: normal;
	}

	&__social-list {
		width: 270px;

		@media screen and (max-width: 767px) {
			margin-left: auto;
			margin-right: auto;
		}

		@media screen and (max-width: 1199px) {
			margin-bottom: 60px;
			text-align: center;
		}

		@media screen and (min-width: 768px) and (max-width: 1199px) {
			flex-basis: calc((100% - 30px) / 2);
		}
	}

	&__social-text {
		margin-bottom: 20px;
		font-weight: 700;
		line-height: 1.143;
		text-transform: uppercase;
		color: $primary-white-color;
	}

	& .social-list__svg {
		fill: $primary-white-color;
	}

	&__subscribe {
		@media screen and (max-width: 767px) {
			width: 100%;
		}

		@media screen and (max-width: 1199px) {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		@media screen and (min-width: 480px) and (max-width: 1199px) {
			width: 450px;
		}

		@media screen and (min-width: 1200px) {
			width: 570px;
		}
	}

	&__subscribe-title {
		margin-bottom: 20px;
		font-weight: 700;
		line-height: 1.143;
		text-transform: uppercase;
		color: $primary-white-color;

		@media screen and (min-width: 1200px) {
			text-align: left;
		}
	}

	&__subscribe-input {
		width: 100%;
		height: 50px;
		padding: 15px 16px;
		font-family: Roboto, sans-serif;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;
		color: rgba(255, 255, 255, 0.6);
		background: transparent;
		border: 1px solid rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;

		@media screen and (max-width: 1199px) {
			margin-bottom: 20px;
		}

		@media screen and (min-width: 1200px) {
			margin-right: 12px;
		}

		&::placeholder {
			font-size: 16px;
			line-height: 1.25;
			color: rgba(255, 255, 255, 0.6);
		}

		&:not(:placeholder-shown) {
			border-color: $accent-color;
		}
	}

	&__subscribe-form {
		@media screen and (min-width: 1200px) {
			display: flex;
		}
	}

	&__subscribe-btn {
		display: flex;
		align-items: center;
		padding: 10px 28px;
		min-width: 200px;
		min-height: 50px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

		@media screen and (max-width: 1199px) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__subscribe-svg {
		width: 24px;
		height: 24px;
		fill: currentColor;
		margin-left: 10px;
	}
}

.footer-logo {
	color: #ffffff;
}

// .footer {
// 	background-color: #2f303a;
// 	padding-top: 60px;
// 	padding-bottom: 60px;

// 	& .logo {
// 		display: inline-block;
// 		margin-bottom: 20px;
// 	}

// 	&__contact-address {
// 		color: $primary-white-color;
// 		font-style: normal;
// 		font-size: 14px;
// 		line-height: 1.71;
// 		margin-bottom: 9px;
// 	}

// 	&__contact-email {
// 		margin-bottom: 9px;
// 	}

// 	&__contact-email,
// 	&__contact-phone {
// 		color: rgba(255, 255, 255, 0.6);
// 		text-decoration: none;
// 		font-style: normal;
// 		font-size: 14px;
// 		line-height: 1.71;
// 		display: block;
// 	}

// 	&__contact {
// 		margin-right: 70px;
// 	}

// 	&__social-list {
// 		margin-right: 93px;
// 	}

// 	&__social-text {
// 		margin-bottom: 20px;
// 		font-weight: 700;
// 		line-height: 1.14;
// 		text-transform: uppercase;
// 		color: $primary-white-color;
// 	}

// 	& .social-list__svg {
// 		fill: $primary-white-color;
// 	}

// 	&__subscribe {
// 		margin-left: auto;
// 	}

// 	&__subscribe-title {
// 		margin-bottom: 20px;
// 		font-weight: 700;
// 		line-height: 1.14;
// 		text-transform: uppercase;
// 		color: $primary-white-color;
// 	}

// 	&__subscribe-input {
// 		width: 358px;
// 		height: 50px;
// 		border: 1px solid rgba(255, 255, 255, 0.3);
// 		border-radius: 4px;
// 		margin-right: 12px;
// 		background: transparent;
// 		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
// 		outline: none;
// 		padding-left: 16px;
// 		font-size: 16px;
// 		line-height: 1.25;
// 		letter-spacing: 0.03em;
// 		color: rgba(255, 255, 255, 0.6);
// 		font-family: Roboto, sans-serif;

// 		&::placeholder {
// 			font-size: 16px;
// 			line-height: 1.25;
// 			color: rgba(255, 255, 255, 0.6);
// 		}

// 		&:not(:placeholder-shown) {
// 			border-color: $accent-color;
// 		}
// 	}

// 	&__subscribe-form {
// 		display: flex;
// 	}

// 	&__subscribe-btn {
// 		display: flex;
// 		align-items: center;
// 	}

// 	&__subscribe-svg {
// 		width: 24px;
// 		height: 24px;
// 		fill: currentColor;
// 		margin-left: 16px;
// 	}
// }
