.hero {
	background-color: #c4c4c4;
	text-align: center;
	width: 100%;
	min-height: 400px;
	margin: 0 auto;
	padding-top: 118px;
	padding-bottom: 118px;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-mobile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media screen and (min-width: 480px) {
		max-width: 767px;
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-tablet.jpg");
	}

	@media screen and (min-width: 768px) {
		max-width: 1199px;
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-desktop.jpg");
	}
	@media screen and (min-width: 1200px) {
		max-width: 1600px;
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
	.hero {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-mobile@2x.jpg");

		@media screen and (min-width: 480px) {
			max-width: 767px;
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-tablet@2x.jpg");
		}

		@media screen and (min-width: 768px) {
			max-width: 1199px;
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-desktop@2x.jpg");
		}

		@media screen and (min-width: 1200px) {
			max-width: 1600px;
		}
	}
}

.hero__container {
	max-width: 400px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;

	@media screen and (min-width: 1200px) {
		width: 1200px;
		max-width: 696px;
	}
}

.hero__title {
	font-weight: 900;
	font-size: 26px;
	line-height: 1.615;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: $primary-white-color;
	margin-bottom: 30px;

	@media screen and (min-width: 1200px) {
		font-size: 44px;
		line-height: 1.364;
	}
}
