.hero {
	text-align: center;
	min-height: 400px;
	background-color: #c4c4c4;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-mobile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 118px;
	padding-bottom: 118px;

	&__title {
		font-weight: 900;
		font-size: 26px;
		line-height: 1.615;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: $primary-white-color;
		margin-bottom: 30px;
	}
}

// @media screen and (min-device-pixel-ratio: 2),
// 		screen and (min-resolution: 192dpi),
// 		screen and (min-resolution: 2dppx) {
// 		.hero {
// 			background-image: url("../img/hero-mobile@2x.jpg");
// 		}

// @media screen and (min-width: 480px) {
// 	.hero {
// 		padding: 118px 60px;
// 		text-align: center;
// 		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero.jpg");
// 	}
// }

// original

// .hero {
// 	background-color: #c4c4c4;
// 	text-align: center;
// 	max-width: 1600px;
// 	height: 600px;
// 	margin-left: auto;
// 	margin-right: auto;
// 	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero.jpg");
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	background-position: center;

// 	&__title {
// 		color: $primary-white-color;
// 		font-weight: 900;
// 		font-size: 44px;
// 		line-height: 1.36;

// 		letter-spacing: 0.06em;
// 		text-transform: uppercase;

// 		margin-bottom: 30px;
// 		margin-top: 0;
// 	}
// }
