.portfolio-header {
	border-bottom: 1px solid #ececec;
	margin-bottom: 60px;

	@media screen and (min-width: 1200px) {
		margin-bottom: 94px;
	}
}

.filter__list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;

	@media screen and (min-width: 768px) {
		justify-content: center;
		margin-bottom: 30px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 50px;
	}
}

.filter__list-item:not(:last-child) {
	margin-right: 8px;
}

.filter__list-item:not(:nth-last-child(-n + 2)) {
	margin-bottom: 15px;
}

.filter__list-option {
	background-color: #f5f4fa;
	border-radius: 4px;
	padding: 6px 22px;
	color: $title-text-color;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	border-style: none;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: $accent-color;
		color: $primary-white-color;
		cursor: pointer;
	}
}

.examples__list {
	margin-bottom: 60px;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.examples__list-item {
	border: 1px solid #eeeeee;

	&:hover,
	&:focus {
		background: #ffffff;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}

	@media screen and (min-width: 768px) {
		width: calc((100% - 1 * 30px) / 2);

		&:not(:nth-child(even)) {
			margin-right: 30px;
		}
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 2 * 30px) / 3);
	}
}

.examples__list-item:not(:last-child) {
	margin-bottom: 30px;
}

.examples-container {
	padding: 20px 24px;
}

.examples__list-name {
	margin-bottom: 4px;
	color: $title-text-color;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.examples__list-text {
	color: $primary-text-color;
	font-size: 16px;
	line-height: 1.88;
}

.examples__overlay {
	position: relative;
	overflow: hidden;
}

.examples__list-description {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 1.556;
	color: $primary-white-color;
	background-color: rgba(33, 150, 243, 0.9);
	padding: 77px 24px;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	@media screen and (min-width: 768px) {
		padding: 49px 24px;
	}

	@media screen and (min-width: 1200px) {
		padding: 63px 24px;
	}
}

.examples__list-item:hover .examples__list-description {
	transform: translateY(0);
}

// @media screen and (max-width: 480px) {
// 	.portfolio {
// 		padding-top: 60px;
// 		padding-bottom: 60px;
// 	}

// 	.filter {
// 		&__list {
// 			display: flex;
// 			flex-wrap: wrap;
// 			margin-bottom: 40px;
// 		}

// 		&__list-item:not(:last-child) {
// 			margin-right: 8px;
// 		}

// 		&__list-item:not(:nth-last-child(-n + 2)) {
// 			margin-bottom: 15px;
// 		}

// 		&__list-option {
// 			background-color: #f5f4fa;
// 			border-radius: 4px;
// 			padding: 6px 22px;
// 			color: $title-text-color;
// 			font-weight: 500;
// 			font-size: 16px;
// 			line-height: 1.625;
// 			border-style: none;
// 			transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

// 			&:hover,
// 			&:focus {
// 				background-color: $accent-color;
// 				color: $primary-white-color;
// 				cursor: pointer;
// 			}
// 		}
// 	}

// 	.examples {
// 		&__list-item:not(:last-child) {
// 			margin-bottom: 30px;
// 		}
// 	}
// }

// @media screen and (min-width: 1200px) {
// 	.portfolio {
// 		padding-top: 94px;
// 		padding-bottom: 94px;
// 	}

// 	.filter {
// 		&__list {
// 			display: flex;
// 			justify-content: center;
// 			margin-bottom: 50px;
// 		}

// 		&__list-item:not(:last-child) {
// 			margin-right: 8px;
// 		}

// 		&__list-option {
// 			background-color: #f5f4fa;
// 			color: $title-text-color;
// 			font-weight: 500;
// 			font-size: 16px;
// 			line-height: 1.63;
// 			text-align: center;
// 			border-style: none;
// 			border-radius: 4px;
// 			padding: 6px 22px;
// 			min-width: 73px;
// 			transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

// 			&:hover,
// 			&:focus {
// 				background-color: $accent-color;
// 				color: $primary-white-color;
// 				cursor: pointer;
// 			}
// 		}
// 	}

// 	.examples {
// 		&__list {
// 			display: flex;
// 			flex-wrap: wrap;
// 			margin: -15px;
// 		}

// 		&__list-item {
// 			margin: 15px;

// 			&:hover,
// 			&:focus {
// 				background: #ffffff;
// 				box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
// 			}
// 		}
// 	}
// }
