.social-list {
	display: flex;
	justify-content: center;

	&__item:not(:last-child) {
		padding-right: 10px;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		background-color: #ffffff;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 50%;
		transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			background-color: $accent-color;
		}
	}

	&__svg {
		width: 20px;
		height: 20px;
		fill: #afb1b8;
		transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

.social-list__link:hover .social-list__svg,
.social-list__link:focus .social-list__svg {
	fill: $primary-white-color;
}
