.container {
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;

	@media screen and (min-width: 480px) {
		width: 480px;
		background-color: teal;
	}

	@media screen and (min-width: 768px) {
		width: 768px;
		background-color: tomato;
	}

	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}

// origin

// .container {
// 	width: 1200px;
// 	padding-right: 15px;
// 	padding-left: 15px;
// 	margin: 0 auto;

// 	.header &,
// 	.footer & {
// 		display: flex;
// 		align-items: center;
// 	}

// 	.hero & {
// 		width: 696px;
// 		padding-top: 200px;
// 		padding-bottom: 200px;
// 	}
// }
