.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;

	.header &,
	.footer & {
		display: flex;
		align-items: center;
	}

	.hero & {
		width: 696px;
		padding-top: 200px;
		padding-bottom: 200px;
	}
}
